/* BACKGROUND */
body {
  background-color: black;
  background-image: url('images/Back-3D-grey.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-size: 160vw 120vh;
}

/* TEXT */
h1, h2, p {
  font-family: 'Jura', sans-serif;
  max-width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%;
}

h1 {
  font-size: 30px;
  color: #F72FC9;
  text-align: center;
}

h2 {
  color: aqua;
  font-size: 26px;
  text-align: center;
}

p {
  font-size: 18px;
  color: lightgrey;
  text-align: justify;
}

section {
  margin-top: 10px;
}

.content {
  background-color: black;
  border-radius: 15px;
  padding-top: 60px;
  max-width: 83vw;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

.content__About {
  padding-top: 10px;
  padding-bottom: 20px;
}

/* IMAGES AND MEDIA */
.images {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
}

.images__main {
  margin-top: 5px;
  border-radius: 50%;
  /*width: 750px;
  height: 500px;*/
  width: 60%;
  height: 68%;
}

.gallery {
  padding-bottom: 10px;
  float: center;
  max-width: 90%;
  margin: 3% 7.5%;
}

.gallery__images {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}

.media {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%;
}

/* BOTTOM NAVBAR */
li {
  display: inline;
  margin-left: 10px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 15px;
}

a {
  color: aqua;
  text-decoration: none;
  font-family: 'Jura', sans-serif;
}

.nav-footer {
  padding-bottom: 2%;
}

.nav-footer--logo {
  margin-bottom: -15px;
}

/* Adjust for mobile */
@media only screen and (max-width: 720px) {

  li {
    display: block;
  }

  .nav-footer--logo {
    margin-bottom: -5px;
  }
}

/* FOOTER */
footer {
  padding-top: 2%;
  padding-bottom: 1%;
}

.footer__text {
  color: black;
  font-size: 16px;
  text-align: center;
}
