/* BACKGROUND */
body {

  background-color: black;
  background-image: url('images/Back-3D-grey.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

/* TEXT */

h2 {
  font-size: 26px;
  color: #F72FC9;
  text-align: center;
  font-family: 'Jura', sans-serif;
}

p {
  font-size: 18px;
  color: lightgrey;
  font-family: 'Saira Semi Condensed', sans-serif;
  text-align: justify;
  max-width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%;
}

section {
  margin-top: 25px;
}

/* IMAGES AND MEDIA */
#mainImage {
  margin-top: 5px;
  border-radius: 50%;
}

.images {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.media {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 90%;
}

#About {
  padding-top: 40px;
}

#content {
  background-color: black;
  border-radius: 15px;
  padding-top: 60px;
  max-width: 83vw;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

.gallery {
  padding-top: 30px;
  float: center;
  margin: 75px;
}

/* BOTTOM NAVBAR */
li {
  display: inline;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

ul {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 15px;
}

a {
  color: aqua;
  text-decoration: none;
  font-family: 'Jura', sans-serif;
}

#logo {
  margin-bottom: 1%;
}

#nav-footer {
  padding-bottom: 2%;
}

.nav-link {
  margin-bottom: 2%;
}

/* FOOTER */
footer {
  padding-top: 2%;
  padding-bottom: 1%;
}

#copyright {
  color: black;
  font-size: 16px;
  text-align: center;
}
