body {

  background-color: black;
  background-image: url('images/Back-3D-grey.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

li {
  display: inline;
  margin-left: 20px;
  margin-right: 50px;
  margin-top: 10px;
  margin-bottom: 10px;
}

#logo {
  padding: 0 auto;
}

ul {
  list-style-type: none;
  margin-top: 30px;
  margin-bottom: 15px;
}

a {
  color: aqua;
  text-decoration: none;
}

h1,
h3,
body {

  font-family: fantasy
  font-size: 18px;
  font: Baskerville;
  color: lightgrey;
}

p {
  font-size: 16px;
  text-align: justify;
  max-width: 85%;
  margin-right: 7.5%;
  margin-left: 7.5%;
}

section {
  margin-top: 50px;
}

#mainImage {
  margin-top: 5px;
  border-radius: 50%;
}

.images {
  margin: 0 auto;
  display: block;
  max-width: 100%;
}

.video {
  margin-bottom: 50px;
  margin-top: 50px;
  max-width: 90%;
}

#About {
  padding-top: 40px;
}

#content {
  background-color: black;
  border-radius: 15px;
  padding-top: 60px;
  max-width: 83vw;
  margin: auto;
  margin-top: 60px;
  text-align: center;
}

.gallery {
  padding-top: 30px;
  float: center;
  margin: 75px;
}

#nav-footer {
  padding-bottom: 2%;
}

footer {
  padding-top: 2%;
  padding-bottom: 1%;
}

#copyright {
  color: black;
  font-size: 16px;
  text-align: center;
}
